{% extends 'base_with_navbar.html' %}

{% block content %}
<div class="container w-full h-[85vh] flex justify-center items-center">
  <div class="w-full flex flex-col justify-center items-center max-w-[350px] gap-3">
    <h2 class="mb-6 text-xl md:text-2xl">BookRank password reset</h2>

    <p class="max-w-[500px] text-center">
      If an account with that e-mail exists, we’ve sent you a message with instructions to reset your password.
      Please check your inbox (and spam folder).
    </p>

    <div class="w-full flex flex-col items-center gap-3 mt-6 text-sm md:text-base">
      <a href="{% url 'login' %}" class="px-4 py-2 hover:opacity-90 border-b">
        Come back to login page
      </a>

      <p class="text-sm mt-6 text-gray-700">Can't find the e-mail? 
        <a href="{% url 'password_reset' %}" class="text-center text-sm text-gray-600 underline">
            Send again
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock content %}
