{% extends 'base_with_navbar.html' %}

{% block content %}
<div class="container w-full h-[85vh] flex justify-center items-center">
  <div class="w-full flex flex-col justify-center items-center max-w-[350px] gap-3">
    <h2 class="mb-6 text-xl md:text-2xl">Password updated</h2>

    <p class="max-w-[500px] text-center">
      Your password has been set. You can now log in with your new password.
    </p>

    <div class="w-full flex flex-col items-center gap-3 mt-6 text-sm md:text-base">
      <a href="{% url 'login' %}" class="px-4 py-2 hover:opacity-90 border-b">
        Log-in
      </a>
    </div>
  </div>
</div>
{% endblock content %}
