# Przykładowy plik ze zmiennymi środowiskowymi

# 1. Zmienne konieczne do działania aplikacji

DJANGO_KEY=
DATABASE_URL=

# Aby wygenerować klucz DJANGO_KEY, można skorzystać z komendy w terminalu: python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"

# Przykład DATABASE_URL 
# postgresql://{username}:{password}@{host}:{port}/{database_name}
# (uzupełnij danymi swojej bazy PostgreSQL)

# 2. Dodatkowe zmienne

# ---- SMTP EMAIL (opcjonalnie – domyślnie maile będą wyświetlane w konsoli)
# EMAIL_HOST_USER=
# EMAIL_HOST_PASSWORD=
# EMAIL_PORT=

# ---- AWS (opcjonalnie – domyślnie zdjęcia będą zapisywane lokalnie w folderze "media")
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_STORAGE_BUCKET_NAME=
# AWS_S3_REGION_NAME=

# OPENAI API (opcjonalnie – domyślnie funkcja generowania podsumowań recenzji będzie niedostępna)
# OPENAI_API_KEY=

# REDIS (opcjonalnie – domyślnie używany jest lokalny Redis)
# REDIS_CELERY_URL=redis://localhost:6379/0
# REDIS_CACHE_URL=redis://localhost:6379/1

# ---- Tryb debugowania
# DEBUG=True
# ALLOWED_HOSTS=127.0.0.1 localhost