<form method="post"
      enctype="multipart/form-data"
      hx-encoding="multipart/form-data"
      hx-post="{% url 'update_profile_picture' %}"
      hx-target="#profile-picture-change-form"
      hx-swap="innerHTML"
      hx-disabled-elt="this"
      class="flex flex-col w-full gap-4 text-sm pb-6">

  {% csrf_token %}

  <div class="flex items-center gap-4">
    <span class="text-sm">Your current profile picture:</span>

    <img src="{{ request.user.profile.profile_picture.url }}"
         alt="Your Profile picture"
         class="w-10 h-10 rounded-full border object-cover">
  </div>

  <div class="flex flex-col gap-1">
    <label for="{{ profile_picture_change_form.profile_picture.id_for_label }}"
           class="text-sm">
           Change profile picture
    </label>
    {{ profile_picture_change_form.profile_picture }}

    {{ profile_picture_change_form.profile_picture.errors }}

  </div>

  <button type="submit"
          class="self-start px-4 py-2 bg-slate-700 text-white text-sm hover:bg-slate-800 transition-colors">
    Submit
  </button>
</form>
