 <form method='POST'
       hx-post="{% url 'update_username' %}"
       hx-target="#username-change-form"
       hx-swap="innerHTML" 
       hx-confirm="Are you sure you want to change your username?"
       hx-disabled-elt="this"
       class="flex flex-col w-full gap-4 text-sm pb-6">
    {% csrf_token %}

    <div class="w-full flex flex-col justify-center gap-1">
        <label for="{{ username_change_form.username.id_for_label }}" class="w-full" >Set new username</label>
            {{ username_change_form.username }}
            {{ username_change_form.username.errors }}

            {% if new_username %}
                <p>You successfully set your new username as: {{ new_username }}</p>
            {% endif %}

    </div>

    <button type="submit"
            class="self-start px-4 py-2 bg-slate-700 text-white text-sm hover:bg-slate-800 transition-colors">
            Change username
    </button>

</form>