{% if user.is_authenticated %}
    {% if to_read_added %}
    <button
        type="button" 
        hx-post="{% url 'remove_to_read' book.id %}"
        hx-target="#to_read_slot"
        hx-swap="innerHTML"
        class="bottom-0 mt-2 items-center justify-center rounded-sm border-1 border-slate-800 px-3 py-2 text-sm font-medium shadow hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400">
        Remove from to read
    </button>
    {% else %}
    <button
        type="button" 
        hx-post="{% url 'add_to_read' book.id %}"
        hx-target="#to_read_slot"
        hx-swap="innerHTML"
        class="bottom-0 mt-2 items-center justify-center rounded-sm border-1 border-slate-800 px-3 py-2 text-sm font-medium shadow hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400">
        Add to read
    </button>
    {% endif %}
{% endif %}