{% load static %}
<div class="w-full flex flex-col items-center justify-center px-6">

  <div class="w-full flex flex-col lg:flex-row gap-10 lg:gap-16 mt-12">
    <div id="filtersOverlay" class="fixed inset-0 z-40 hidden bg-black/40 lg:hidden"></div>
    <aside id="filtersAside" class=" w-full flex flex-col sm:flex-row

    fixed right-0 top-0 z-50 h-full w-[min(95vw,420px)] bg-white shadow-xl
    translate-x-full transition-transform duration-300 ease-in-out

    lg:static lg:z-auto lg:max-w-72 lg:shadow-none
    lg:translate-x-0">
      <div class="w-full h-full overflow-y-auto lg:sticky lg:top-6 lg:h-auto lg:overflow-visible px-12 lg:px-0 pt-12 lg:pt-0">
        <div class="mb-6">
          <div class="flex items-baseline justify-between">
            <h2 class="text-lg font-semibold">Filters</h2>
            <a href="{% url 'explore' %}" class="text-sm hover:text-slate-700 lg:block border-b-1 border-slate-500 pb-1">
              Clear all filters
            </a>

            <button
              type="button"
              id="filtersClose"
              class="text-sm border-b border-slate-300 lg:hidden bg-[#2e4052] text-white px-4 py-2 hover:cursor-pointer"
            >
              Close filters
            </button>

          </div>
        </div>


        <form method="get"
              id="filtersForm"
              class="space-y-5 w-full"
              hx-get="{% url 'explore' %}"
              hx-target="#exploreMain"
              hx-push-url="true"
              hx-trigger="change delay:150ms, submit"
              hx-disabled-elt="this">
              
          <input type="hidden" name="sort" value="{{ sort }}"/>

            <!-- AUTHORS -->
            <section class="border-b-1 border-gray-200 pb-5">
              <h3 class="text-sm font-semibold ">Authors</h3>

              <div class="relative w-full text-sm mt-3">
                <label for="authors-search-input" class="absolute w-[1px] h-[1px] p-0 overflow-hidden">Search</label>
                <input
                id="authors-search-input"
                data-endpoint="{% url 'authors_search_suggestions' %}"
                type="text"
                autocomplete="off"
                placeholder="Search..."
                class="w-full h-8 text-xs md:text-sm  border border-gray-300 pl-4 outline-none focus:ring-2 focus:ring-slate-300 focus:border-slate-300"
                />

                <div class="absolute right-3 top-1/2 -translate-y-1/2 pointer-events-none text-gray-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 21l-4.35-4.35m1.6-5.15a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </div>

                <div
                  id="authors-search-results"
                  class="hidden absolute z-50 w-full mt-2 bg-white border border-gray-200 shadow-lg overflow-hidden"
                  role="listbox"
                  aria-label="Search suggestions"
                ></div>
              </div>

              <fieldset class="mt-3 max-h-64 overflow-auto border border-slate-200 p-3" id="authorsList">
                  <legend class="absolute w-[1px] h-[1px] p-0 overflow-hidden">
                    Filter by authors
                  </legend>
                  {% include "books/partials/filter_authors_list.html" with selected_authors=selected_authors %}
              </fieldset>
            </section>

            <!-- TAGS -->
            <section class="border-b-1 border-gray-200 pb-5">
              <h3 class="text-sm font-semibold">Tags</h3>
              <label for="tags-search-input" class="absolute w-[1px] h-[1px] p-0 overflow-hidden">Search</label>
              <div class="relative w-full text-sm mt-3">
                <input
                id="tags-search-input"
                data-endpoint="{% url 'tags_search_suggestions' %}"
                type="text"
                autocomplete="off"
                placeholder="Search..."
                class="w-full h-8 text-xs md:text-sm  border border-gray-300 pl-4 outline-none focus:ring-2 focus:ring-slate-300 focus:border-slate-300"
                />

                <div class="absolute right-3 top-1/2 -translate-y-1/2 pointer-events-none text-gray-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 21l-4.35-4.35m1.6-5.15a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg> 
                </div>

                <div
                  id="tags-search-results"
                  class="hidden absolute z-50 w-full mt-2 bg-white border border-gray-200 shadow-lg overflow-hidden"
                  role="listbox"
                  aria-label="Search suggestions"
                ></div>

              </div>

              <fieldset class="mt-3 max-h-64 overflow-auto border border-slate-200 p-3" id="tagsList">
                <legend class="absolute w-[1px] h-[1px] p-0 overflow-hidden">Filter by tags</legend>
                  {% include "books/partials/filter_tags_list.html" with selected_tags=selected_tags %}
              </fieldset>
            </section>

            <!-- PUBLISHED YEAR -->
            <section class="border-b-1 border-gray-200 pb-5">
              <h3 class="text-sm font-semibold ">Publication year</h3>

              <div class="relative w-full text-sm mt-3">
                  <div class=" flex justify-between items-center px-2">

                      <div class="flex flex-col w-[40%]">
                        <label for="min_published_year" class="flex cursor-pointer items-center gap-3 pb-2">From</label>
                          <input
                            id="min_published_year"
                            type="number"
                            min='1700'
                            max='{{current_year}}'
                            value="{% if min_published_year %}{{min_published_year}}{% else %}{None}{% endif %}"
                            placeholder="-"
                            name="min_published_year"
                            class="h-6 sm:h-8 w-full border-slate-300 focus:ring-slate-900 border p-2 text-xs md:text-sm"
                          >
                        </div>
                      
                      <div class="flex flex-col w-[40%]">
                        <label for="max_published_year" class="flex cursor-pointer items-center gap-3 pb-2">To</label>
                          <input
                            id="max_published_year"
                            type="number"
                            min='1700'
                            max='{{current_year}}'
                            value="{% if max_published_year %}{{max_published_year}}{% else %}{{current_year}}{% endif %}"
                            placeholder="-"
                            name="max_published_year"
                            class="h-6 sm:h-8 w-full border-slate-300 focus:ring-slate-900 border p-2 text-xs md:text-sm"
                          >
                        </div>
                      
                </div>
              </div>
            </section>

            <!-- PUBLISHERS -->
            <section class="border-b-1 border-gray-200 pb-5">
              <h3 class="text-sm font-semibold">Publishers</h3>

              <div class="relative w-full text-sm mt-3">
                <label for="publishers-search-input" class="absolute w-[1px] h-[1px] p-0 overflow-hidden">Search publishers</label>
                <input
                id="publishers-search-input"
                data-endpoint="{% url 'publishers_search_suggestions' %}"
                type="text"
                autocomplete="off"
                placeholder="Search..."
                class="w-full h-8 text-xs  border border-gray-300 pl-4 outline-none focus:ring-2 focus:ring-slate-300 focus:border-slate-300"
                />

                <div class="absolute right-3 top-1/2 -translate-y-1/2 pointer-events-none text-gray-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 21l-4.35-4.35m1.6-5.15a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg> 
                </div>

                <div
                  id="publishers-search-results"
                  class="hidden absolute z-50 w-full mt-2 bg-white border border-gray-200 shadow-lg overflow-hidden"
                  role="listbox"
                  aria-label="Search suggestions"
                ></div>

              </div>

              <fieldset class="mt-3 max-h-64 overflow-auto border border-slate-200 p-3" id="publishersList">
                <legend class="absolute w-[1px] h-[1px] p-0 overflow-hidden">Filter by publishers</legend>
                  {% include "books/partials/filter_publishers_list.html" with selected_publishers=selected_publishers %}
              </fieldset>
            </section>

            <section class="border-b-1 border-gray-200 pb-5">
              <h3 class="text-sm font-semibold ">AI Summary generated</h3>

              <div class="relative w-full text-sm mt-3">
                  <div class=" flex justify-between items-center px-2">
                      <div class="flex flex-col w-[40%]">
                        <label for="summary_generated" class="absolute w-[1px] h-[1px] p-0 overflow-hidden">Show books with summary generated</label>
                          <input
                            id="summary_generated"
                            type="checkbox"
                            name="summary_generated"
                            {% if summary_generated_filter %}checked{% endif %}
                            class="h-6 w-full border-slate-300 focus:ring-slate-900 border"
                          >
                        </div>
                </div>
              </div>
            </section>

        </form>
      </div>
    </aside>

    <button
        type="button"
        id="filtersOpen"
        class="lg:hidden w-36 flex justify-center block items-center gap-2 border-b-1 border-slate-900 px-3 py-2 text-sm bg-[#2e4052] text-white hover:cursor-pointer"
        aria-controls="filtersAside"
        aria-expanded="false"
      >
        Choose filters 
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22 3H2L10 12.46V19L14 21V12.46L22 3Z" 
                stroke="currentColor" 
                stroke-width="1.8" 
                stroke-linecap="round" 
                stroke-linejoin="round"/>
        </svg>
      </button>


    <main class="col-span-12 md:col-span-8 lg:col-span-9 w-full">
        <div id="exploreMain">
            {% include 'books/partials/explore_main.html' %}
      </div>
    </main>
  </div>
</div>

<script src="{% static 'books/js/sort_results.js' %}"></script>
