<div>
    <h2 class="text-sm sm:text-base font-semibold tracking-wide text-center mb-6 sm:mb-8 bg-[#2e4052]">
        Most popular categories
    </h2>
    
    <div class="w-72 max-h-80 overflow-y-auto border border-slate-600">

    <ul class=" text-center">
        {% for tag in tags %}
        <li>
            <a href="explore?tags={{tag.id}}"
            class="block text-sm border-b border-slate-600 py-4 hover:bg-gray-900 transition-colors bg-[#2e4052]">
            {{tag.name.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    </div>
</div>