{% if user.is_authenticated %}
    {% if added_to_library %}
    <button
        type="button" 
        hx-post="{% url 'remove_to_read' book.id %}"
        hx-target="#to_read_slot"
        hx-swap="innerHTML"
        class="bg-[#2e4052] hover:cursor-pointer text-sm text-white py-2 px-3 flex justify-center items-center border border-gray-300 gap-2 shadow">
        Remove from your library
    </button>
    {% else %}
    <button
        type="button" 
        hx-post="{% url 'add_to_read' book.id %}"
        hx-target="#to_read_slot"
        hx-swap="innerHTML"
        class="bg-[#2e4052] hover:cursor-pointer text-sm text-white py-2 px-3 flex justify-center items-center border border-gray-300 gap-2 shadow">
        Add to your library
    </button>
    {% endif %}
{% endif %}