{% extends 'base.html' %}

{% block content %}

<div class="w-full flex flex-col items-center justify-center mb-12 px-4 pb-8">
  <div class="flex flex-col items-center justify-center max-w-96 lg:max-w-[600px] gap-3">
    <h2 class="font-semibold text-lg lg:text-xl">Best Authors</h2>
    <p class="text-sm lg:text-base text-center">Find all books by best rated authors. In this section you can find books by authors with the biggest average ratings</p>
  </div>
</div>

<div class="w-full flex flex-col items-center justify-center px-5 w-full">
    <div class="w-full max-w-[1000px]">
        {% include '_results.html' %}   
    </div>
</div>


{% endblock content %}