{% extends "base_with_navbar.html" %}

{% block content %}
<section class="mx-auto max-w-[1000px] px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col items-center gap-8 md:flex-row md:items-center">
    <div class="shrink-0">
      <div class="w-28 sm:w-32 md:w-36">
        {% if book.cover_image %}
          <img
            src="{{ book.cover_image.url }}"
            alt="Cover image: {{ book.title }}"
            class="w-full  w-44 rounded-sm object-fit shadow"
            loading="lazy"
          />
        {% else %}
          <div class="w-full aspect-[2/3] rounded-sm bg-gray-200 shadow flex items-center justify-center text-xs text-gray-500">
            No cover image
          </div>
        {% endif %}
      </div>
    </div>

    <div class="w-full text-center md:text-left relative">
      <h1 class="text-xl sm:text-2xl font-semibold text-gray-900 block">
        {{ book.title }}
      </h1>

      <dl class="mt-6 space-y-4 text-sm text-gray-800">
        <div class="flex gap-1 md:flex-row md:gap-3 text-left">
          <dt class="font-medium text-gray-900">Author:</dt>
          <dd class="text-gray-700">
            {% if book.authors.all %}
                {% for author in book.authors.all %}
                    {{ author }}
                {% endfor %}
            {% else %}
                Unknown
            {% endif %}
          </dd>
        </div>

        <div class="flex gap-1 md:gap-3">
          <dt class="font-medium text-gray-900">Tags:</dt>
          <dd class="text-gray-700">
            {% if book.tags.all %}
              <div class="flex flex-wrap justify-center md:justify-start gap-2">
                {% for tag in book.tags.all %}
                  <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-1 text-xs font-medium text-gray-800">
                    {{ tag.name }}
                  </span>
                {% endfor %}
              </div>
            {% else %}
              <span class="text-gray-500">—</span>
            {% endif %}
          </dd>
        </div>

        <div class="flex gap-1 md:gap-3">
          <dt class="font-medium text-gray-900">Publisher:</dt>
          <dd class="text-gray-700">
            {{ book.publisher }}
          </dd>
        </div>

        <div class="flex gap-1 md:gap-3">
          <dt class="font-medium text-gray-900">Publication year:</dt>
          <dd class="text-gray-700">
            {{ book.publication_year }}
          </dd>
        </div>

        <div class="flex gap-1 md:gap-3">
          <dt class="font-medium text-gray-900">More information: </dt>
          <a href="{{ book.info_link }}" target="_blank">
            <dd class="text-blue-600">
            Books Google 
          </dd>
          </a>
          
        </div>
      </dl>
    </div>

  </div>

  <div id="to_read_slot" class="my-8 md:my-12 flex items-start justify-center md:justify-start">
      {% include 'partials/to_read_button.html' %}
  </div>

  {% include 'partials/moderator_panel.html' %}

  <div class="mt-2 md:mt-10">
    <h2 class="text-lg font-medium text-gray-700">
      Description
    </h2>

    <div class="mt-4 text-sm sm:text-base text-gray-800">
      {% if book.description %}
        <p class="">
          {{ book.description }}
        </p>
      {% else %}
        <p class="text-gray-500">Brak opisu.</p>
      {% endif %}
    </div>
  </div>

  {% if review_summary.summary_text %}
    <div class="mt-8 md:mt-10">
        <h2 class="text-lg font-medium text-gray-700">
          AI Generated summary <span class="text-sm">(based on 30 most helpful reviews)</span>
        </h2>

        <p class="mt-4 text-sm sm:text-base text-gray-800">
          {{ review_summary.summary_text }}
        </p>

      </div>
  {% endif %}

    <div class="mt-12 md:mt-10">
    <div class="flex flex-col gap-2">
      <h2 class="text-lg font-medium text-gray-700">
        User reviews
      </h2>

      <p class="text-sm text-gray-700">
        Average rating: {{ book.average_rating }} out of 5  (based on {{ book.reviews_count }} reviews)
      </p>
    </div>

    {% if user.is_authenticated %}
    <div class="mt-6">
      <div id="review-form-slot"
           hx-get="{% url 'refresh_review_form' book.id %}"
           hx-trigger="reviewDeleted from:body">
        {% include 'partials/review_form.html' %}
      </div>
      
    </div>
    {% else %}
      <p class="mt-6 text-sm text-gray-600">
        To add a review, please <a class="underline" href="{% url 'login' %}">sign in</a>.
      </p>
    {% endif %}

    {% if reviews %}
      <div class="mt-6">
        <ul class="relative space-y-12">
          <span class="absolute left-6 top-0 h-full w-px bg-gray-300" aria-hidden="true"></span>
          <div id="user-review">
            {% if current_user_review %}
              {% include 'partials/user_review.html' %}
            {% endif %}
          </div>

          {% for review in reviews %}
            {% include 'partials/single_review.html' %}
          {% endfor %}
        </ul>
      </div>
    {% else %}
      <p class="mt-4 text-sm text-gray-500">No reviews yet.</p>
    {% endif %}
  </div>

  {% if book.reviews_count > 5 %}
  <div class="flex items-center justify-center mt-10">
      <a href="{% url 'all_reviews' book.id %}" 
      class="text-sm text-gray-700 px-4 py-3 hover:bg-gray-100 border border-gray-400">
        Show all {{ book.reviews_count }} reviews
      </a>
    
  </div>
  {% endif %}

  </div>
</section>
{% endblock %}
