{% extends 'base_with_navbar.html' %}

{% block content %}
<div class="flex flex-col items-center justify-center container px-4 sm:px-6 lg:px-8 bg-gray-100">

    <section class="w-full flex flex-col items-center justify-center gap-2">
        <img class="rounded-full w-18 h-18 border border-black"
            src="{{ user.profile.profile_picture.url }}"
            alt="Profile picture">
        <h2 class="font-semibold text-lg">@ {{ user.username }}</h2>
        <p class="text-sm">{{ user.email }}</p>
    </section>

    <section class="w-full flex flex-col items-center justify-center gap-16 mt-16">
        <div class="w-full flex flex-col items-center justify-center gap-3 text-center max-w-[350px]">
            <h3 class="font-semibold text-lg md:text-xl">Library</h3>
            <p class="md:text-lg">A place where you can track your reading progress and save books to read later</p>
            <a href="" class="px-2 py-2 border-b">Go to Library</a>
        </div>

        <div class="w-full flex flex-col items-center justify-center gap-3 text-center max-w-[350px]">
            <h3 class="font-semibold text-lg md:text-xl">Settings</h3>
            <p class="md:text-lg">Change your username, profile picture, email, password</p>
            <a href="" class="px-2 py-2 border-b hover:bg-gray-100 transition-colors">Go to Settings</a>
        </div>
    </section>

    

    
  </div>
</div>

{% endblock content %}