
{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="w-full flex flex-col items-center justify-center mb-12 px-4">
  <div class="flex flex-col items-center justify-center max-w-96 lg:max-w-[600px] gap-3">
    <h2 class="font-semibold text-lg lg:text-xl">Explore</h2>
    <p class="text-sm lg:text-base text-center">In this section you can explore all the books available on BookRank. Use different filters or the search bar to find your next book</p>
  </div>
</div>

{% include 'books/partials/search_bar.html' %}

<div id="exploreSection">
  {% include 'books/partials/explore_section.html' %}
</div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/book_search.js' %}"></script>
    <script src="{% static 'js/authors_search.js' %}"></script>
    <script src="{% static 'js/tags_search.js' %}"></script>
    <script src="{% static 'js/publishers_search.js' %}"></script>
{% endblock scripts %}